@media screen and (max-width: 768px){
    .bottom__navigation{
        position: fixed;
        width: 100%;
        padding: 15px;
        bottom: 0;
        background-color: white;
    }
    nav>ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li{
        align-items: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        text-decoration: none;
        cursor: pointer;
        gap: 2px;
    }
}