@media screen and (max-width: 768px) {
    .modal{
        position: absolute;
        z-index: 99999;
        box-shadow: 2px 2px rgb(0,0,0);
        padding: 10px;
        width: 80%;
        height: 70px;
        background-color: #ffff;
        top: 10px;
        display: flex;
        margin: 0 auto;
        left: 15px;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 10px 10px 0 0;
    }
    .line__animation{
        height: 8px;
        animation:time 3s linear ;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        bottom: 0;
        position: absolute;
        margin-left: -9px;
    }
}
@keyframes time {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }

}