@media  screen and (max-width: 768px) {
    .stats__container{
        position: absolute;
        width: 98%;
        padding: 5px;
    }
    .stats__container,.coins__container{
        display: flex;
        justify-content: space-between;
        margin: 2px;
    }
    .coin{
        color: #FFBF32;
    }
    .stat__holder{
        display: flex;
        padding:5px;
        height: fit-content;
        min-height: 30px;
        border-radius: 10px;
        align-items: center;
        background-color: white;
        gap: 3px;
    }
    .level{
        display: flex;
        flex-direction: column;
    }
    .level__logo{
        display: flex;
        color: #FFBF32;
    }
    .coins__container{
        gap:10px;
    }


}